<template name="navigation">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">

      <!-- Close canvas menu used only on OffCanvas page -->
      <!-- You can remove this tag if you dont use offCanvas menu -->
      <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
      <!-- End offCanvas menu toggle -->

      <ul class="nav" id="side-menu">
        <li class="nav-header">
          <div class="logo-element">
            <a href="/">T+</a>
          </div>
        </li>
        <li class="{{isActiveRoute regex='agileBoard'}}">
          <a href="{{pathFor route='agileboard'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Agile Board</span> </a>
        </li>
        <li class="{{isActiveRoute regex='timeBoard'}}">
          <a href="{{pathFor route='timeboard'}}"><i class="fa fa-diamond"></i> <span class="nav-label">Time Board</span> </a>
        </li>
      </ul>

    </div>
  </nav>
</template>
